@model List<TaskManagentment.Application.DTOs.PriorityListDtos>

@{
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
    ViewBag.Title = "Aciliyet Listesi";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a asp-action="Create" asp-controller="Priority" asp-area="Admin" class="btn btn-sm btn-success mb-2">Yeni Ekle</a>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Tanım</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>

    <tbody>
        @if (Model?.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Definition</td>
                    <td>
                        <a asp-action="Update" asp-controller="Priority" asp-area="Admin" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Güncelle</a>
                        <a asp-action="Delete" asp-controller="Priority" asp-area="Admin" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Herhangi bir aciliyet tanımı bulunamadı</td>
            </tr>
        }
    </tbody>
</table>
